
<div style="display: flex;">
<div style='width:40px; font-size: 1.4em;'>
<i class="fa fa-home" aria-hidden="true"></i>
</div>

<div style="display: flex;">
<div style='width:40px; font-size: 1.4em;'>
<i class="fa fa-envelope-o" aria-hidden="true"></i>
</div>
<div style='flex-grow: 1;'>
  josephc->allenai*org
</div>
</div>

<div style="display: flex;">
<div style='width:40px; font-size: 1.4em;'>
<i class="fa fa-twitter" aria-hidden="true"></i>
</div>
<div style='flex-grow: 1;'>
<a href='https://twitter.com/josephcc' target='_new'>@josephcc</a>
</div>
</div>


<div style="display: flex;">
<div style='width:40px; font-size: 1.4em;'>
<i class="fa fa-commenting-o" aria-hidden="true"></i>
</div>
<div class="span3" style='font-size: 1.4em;'>
<a href='https://www.facebook.com/j0sephcc' target='_new'><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
<a href='https://github.com/josephcc' target='_new'><i class="fa fa-github-square" aria-hidden="true"></i></a>
<a href='https://www.linkedin.com/in/josephcheechang' target='_new'><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
</div>
</div>
