<h2>recent activities</h2>
<table class='activity'>
  <tr><th>May 8, 2017.</th><th>SIGCHI presentation in Denver, Colorado.</th></tr>
  <tr><th>October 30, 2016.</th><th>HCOMP invited paper in Austin, Texas.</th></tr>
  <tr><th>October 16, 2016.</th><th>UIST presentation in Tokyo, Japan.</th></tr>
  <tr><th>May 16, 2016.</th><th>Microsoft Research Internship in Seattle, Washington.</th></tr>
  <tr><th>May 7, 2016.</th><th>SIGCHI presentation in San Jose, California.</th></tr>
  <tr><th>March 13 2016.</th><th>CHIIR SV in Chapel Hill, North Carolina.</th></tr>
</table>

