<h2>recent activities</h2>
<table class='activity'>
  <tr><th>Oct 20, 2020</th><th>UIST presentation (virtual).</th></tr>
  <tr><th>Mar 16, 2019</th><th>IUI presentation in Los Angeles, California.</th></tr>
  <tr><th>Apr 21, 2018</th><th>SIGCHI in Montreal, Canada.</th></tr>
  <tr><th>May 8, 2017</th><th>SIGCHI presentation in Denver, Colorado.</th></tr>
  <tr><th>Oct 30, 2016</th><th>HCOMP invited talk in Austin, Texas.</th></tr>
  <tr><th>Oct 16, 2016</th><th>UIST presentation in Tokyo, Japan.</th></tr>
  <tr><th>May 16, 2016</th><th>Microsoft Research Internship in Seattle, Washington.</th></tr>
  <tr><th>May 7, 2016</th><th>SIGCHI presentation in San Jose, California.</th></tr>
  <tr><th>Mar 13 2016</th><th>CHIIR SV in Chapel Hill, North Carolina.</th></tr>
</table>
