<h2>recent activities</h2>
<table class='activity'>
  <tr><th>May 8, 2020</th><th>SIGCHI - online. Best Paper Honorable Mentions Award.</th></tr>
  <tr><th>Oct 20, 2020</th><th>UIST - online.</th></tr>
  <tr><th>Mar 16, 2019</th><th>IUI - Los Angeles, California.</th></tr>
  <tr><th>Apr 21, 2018</th><th>SIGCHI - Montreal, Canada. Best Paper Honorable Mentions Award.</th></tr>
  <tr><th>May 8, 2017</th><th>SIGCHI - Denver, Colorado.</th></tr>
  <tr><th>Oct 30, 2016</th><th>HCOMP - Austin, Texas. Invited Talk.</th></tr>
  <tr><th>Oct 16, 2016</th><th>UIST - Tokyo, Japan.</th></tr>
  <tr><th>May 16, 2016</th><th>Microsoft Research Internship - Redmond, Washington.</th></tr>
  <tr><th>May 7, 2016</th><th>SIGCHI - San Jose, California. Best Paper Honorable Mentions Award x2.</th></tr>
  <tr><th>Mar 13 2016</th><th>CHIIR (student volunteer) - Chapel Hill, North Carolina.</th></tr>
</table>
