.bundle
.DS_Store
.sass-cache
.gist-cache
.pygments-cache
public
sass.old
source.old
source/_stash
source/stylesheets/screen.css
vendor
node_modules
_deploy/
_cache/


.*.swp
*.aux
*.bbl
*.blg
*.aux
*.fdb_latexmk
*.log
*.out
*.pdf
*.aux
*.bbl
*.blg
*.aux
*.bbl
*.blg
*.fls
*.synctex.gz
