{% comment %}
  Add content to be output at the bottom of each page. (You might use this for analytics scripts, for example)
{% endcomment %}


{% if index %}

{% elsif page.toc == true %}

  <script type="text/javascript">
  jQuery(document).ready(function() {
	// Put a TOC right before the entry content.
	generateTOC('.sidebar', "article[role='article']", 'Table of Contents');
	
	jQuery(window).scroll(function () { 
		var mainOffset = jQuery('#main').position().top;
		var scrollTop = jQuery(window).scrollTop();

		if (scrollTop >= mainOffset +48)
			jQuery('#tocBlock').css('top', -28);
		else
			jQuery('#tocBlock').css('top', mainOffset - scrollTop+20);

	});

	jQuery(window).resize(function () { 
        var aside = jQuery('aside');
        if( aside.css('float') == 'none')
			jQuery('#tocBlock').css('display', 'none');
        else
			jQuery('#tocBlock').css('display', 'block');
    });
  });

  </script>

{% endif %}


<script type="text/javascript">
jQuery(document).ready(function() {
	bindBibtexQtips();
});
</script>
