


<!--Fonts from Google"s Web font directory at http://google.com/webfonts -->
<link href="http://fonts.googleapis.com/css?family=PT+Serif:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script src="{{ root_url }}/javascripts/jquery.tableofcontents.min.js" type="text/javascript"></script>
<script type="text/javascript">
  // Revert jQuery's '$' alias, to avoid clashes with ender.js. NOTE: Use
  // jQuery(...), instead of $(...) from here on.
  jQuery.noConflict();
</script>
<script src="{{ root_url }}/javascripts/generate-toc.js" type="text/javascript"></script>
<script src="{{ root_url }}/javascripts/jquery.qtip-1.0.0-rc3.min.js" type="text/javascript"></script>

<script src="{{ root_url }}/javascripts/bibtex-popup.js" type="text/javascript"></script>

<script type="text/x-mathjax-config">
MathJax.Hub.Config({
      tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
      });
</script>
<script type="text/javascript"
  src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>

<!-- styles needed by jScrollPane -->
<link type="text/css" href="{{ root_url }}/javascripts/jScrollPane/style/jquery.jscrollpane.css" rel="stylesheet" media="all" />

<!-- the mousewheel plugin - optional to provide mousewheel support -->
<script type="text/javascript" src="{{ root_url }}/javascripts/jScrollPane/script/jquery.mousewheel.js"></script>

<!-- the jScrollPane script -->
<script type="text/javascript" src="{{ root_url }}/javascripts/jScrollPane/script/jquery.jscrollpane.min.js"></script>



<!--

<link rel="stylesheet" type="text/css" href="{{ root_url }}/javascripts/scrollbars/css/scrollbars.css" />
<link rel="stylesheet" type="text/css" href="{{ root_url }}/javascripts/scrollbars/css/scrollbars-itunes.css" />
<link rel="stylesheet" type="text/css" href="{{ root_url }}/javascripts/scrollbars/css/scrollbars-black.css" />

<script src="http://threedubmedia.googlecode.com/files/jquery.event.drag-2.0.min.js"></script>
<script src="http://github.com/cowboy/jquery-resize/raw/v1.1/jquery.ba-resize.min.js"></script>
<script src="http://remysharp.com/demo/mousehold.js"></script>
<script src="https://raw.github.com/brandonaaron/jquery-mousewheel/master/jquery.mousewheel.js"></script>

<script src="{{ root_url }}/javascripts/scrollbars/js/aplweb.scrollbars.js"></script>

-->
