<div class='hero_container'>
  <div class='row'>
    <div class='span3 avatar'>
      <img src='/images/me.jpg' id='avatar' alt='Avatar'>
    </div>
    <div id='intro' class='span9'>

      <h1 style='border-bottom: 1px solid black; padding-bottom: -8px; margin-bottom: 0px;'>
        {{site.author}}
      </h1>
      <h2>Technical HCI Research・School of Computer Science・Carnegie Mellon University</h2>

      <p>
        I obtained my PhD from the Language Technologies Institute,
        specializing in Human-Computer Interaction, Sensemaking, Crowdsourcing,
        and Machine Learning.
      </p>

      <p>
        I develop information systems and interaction techniques to support end
        users and crowdworkers to explore and make sense of large amounts of
          information and make better decisions. For example, using crowds to
          <a href='/CHI-alloy/' target='_blank'>synthesize search results</a>
          into <a href='/CHI-ka/' target='_blank'>coherent articles</a> or
          empowering consumers to <a href='/UIST-tabsdo/'
          target='_blank'>navigate and explore</a> <a href='/CHI-browser-tabs/'
        target='_blank'>thousands of reviews and online sources</a> and <a
        href='/UIST-mesh/' target='_blank'>gain deep insights and make
      confident purchases</a>.
      </p>

      <p>
        I am advised by <a href='http://kittur.org/' target='_blank'>Aniket
          Kittur</a>, and my research is supported by Google, Bosch, Yahoo, the
        ONR, and the NSF.
      </p>


    </div>

  </div>
</div>
