<div class='zoom_container'>
	<div class='box bg-box'>
		<div class='img bg'>
    </div>
    &nbsp;
	</div>
	<div class='box fore-box'>
		<div class='img fore'>&nbsp;</div>
      <div class='ui'>
        <div class='out'>
          <h1>
            Hi, I'm <em>{{site.author}}</em>
          </h1>
          <h1>
            I am an <em>HCI</em>+<em>NLP</em> PhD student
          </h1>
          <h1>
            at <em>Carnegie Mellon University</em>
          </h1>
          <h1>
            I work on <em>Sensemaking</em>
          </h1>
          <h1>
            <em>Crowdsourcing</em>
          </h1>
          <h1>
            and <em>Search UIs</em>
          </h1>
        </div>
        <div class='in'>
          <h2>
            I am interested in how people
          </h2>
          <h2>
            <em>make sense of new information</em>
          </h2>
          <h2>
            in complex decision-making
            scenarios.
          </h2>
          <h2>
            I apply
            <em>Crowdsourcing, NLP, and ML</em> techniques
          </h2>
          <h2>
            to build <em>intelligent information systems</em>
          </h2>
          <h2>
            and <em>novel interactive interfaces</em>
          </h2>
          <h2>
            that augment human cognition to enhance
          </h2>
          <h2>
            knowledge production,
          </h2>
          <h2>
            and scientific discovery.
          </h2>
        </div>
      </div>
	</div>
</div>
