<div class='hero_container'>
  <div class='row'>
    <div class='span3 avatar'>
      <img src='/images/me.jpg' id='avatar' alt='Avatar'>
    </div>
    <div id='intro' class='span9'>

      <h1 style='border-bottom: 1px solid black; padding-bottom: -8px; margin-bottom: 0px;'>
        {{site.author}}
      </h1>
      <h2>Technical HCI Research・Semantic Scholar・Allen Institute of AI</h2>

      <p>
        I am a research scientist at AI2. Previously, I obtained a PhD degree from
        the Language Technologies Institute at CMU specializing in
          Human-Computer Interaction, Sensemaking, Crowdsourcing, and Applied
          Machine Learning.  I was advised by <a href='http://kittur.org/'
            target='_blank'>Aniket Kittur</a>, and my research was  supported
          by Google, Bosch, Yahoo, the ONR, and the NSF.
      </p>

      <p>
        My research focus on developing information systems to support
        users and crowdworkers to explore and make sense of large amounts of
          information and make better decisions. For example, using crowds to
          <a href='/CHI-alloy/' target='_blank'>synthesize search results</a>
          into <a href='/CHI-ka/' target='_blank'>coherent articles</a> or
          empowering consumers to <a href='/UIST-tabsdo/'
          target='_blank'>navigate and explore</a> <a href='/CHI-browser-tabs/'
        target='_blank'>thousands of reviews and online sources</a> and <a
        href='/UIST-mesh/' target='_blank'>gain deep insights and make
      confident decisions</a>.
      </p>

      <p>
      </p>


    </div>

  </div>
</div>
