<div class="row">
  <div class="span4 button">
    <a href="/curriculum-vitae/">
      <h2>resume</h2>
      <p>
      My Curriculum Vitae with my contact information, work experience, selected awards and honors and more.
      </p>
    </a>
  </div>
  <div class="span4 button">
    <a href="/publications/">
      <h2>publications</h2>
      <p>
      My research publications involving Information Retrieval, Natural Language Processing, Machine Translation and more.
      </p>
    </a>
  </div>
  <div class="span4 button">
    <a href="/portfolio/">
      <h2>portfolio</h2>
      <p>
      Projects I've done as freelance developer, for developer competitions, open source, or school courses.
      </p>
    </a>
  </div>
</div>
