<div class="row" style='text-align: center;'>
  <div class="span4 button">
    <a href="/#main" onClick="return (function() {
                var target = document.querySelector('#main')
                if (target && target.scrollIntoView) {
                     target.scrollIntoView({behavior: 'smooth'});
                     return false;
                 }
                 return true;
     })()">
      <h2>research</h2>
    </a>
  </div>
  <div class="span4 button">
    <a href="/curriculum-vitae/">
      <h2>resume</h2>
    </a>
  </div>
  <div class="span4 button">
    <a href="/portfolio/">
      <h2>random</h2>
    </a>
  </div>
</div>
