<div class="row">
  <div class="span4 button">
    <a href="/curriculum-vitae/">
      <h2>resume</h2>
      <p>
      My Curriculum Vitae with my contact information, publications, work experience, selected awards and honors and more.
      </p>
    </a>
  </div>
  <div class="span4 button">
    <a href="/publications/">
      <h2>publications</h2>
      <p>
      Selected research publications involving Human-Computer Interaction, Natural Language Processing, Machine Learning and more.
      </p>
    </a>
  </div>
  <div class="span4 button">
    <a href="/portfolio/">
      <h2>portfolio</h2>
      <p>
      Projects I worked on as a freelance developer, for hackathons competitions, open source, or undergrad courses.
      </p>
    </a>
  </div>
</div>
