<div class="article-format">

{% unless page.no_header %}
  <header>
    {% if index %}
      <h1 class="entry-title" style='border-bottom: 1px solid darkgray; margin-bottom: 2px;'><a href="{{ root_url }}{{ post.url }}">{% if site.titlecase %}{{ post.title | titlecase }}{% else %}{{ post.title }}{% endif %}</a></h1>
      <h1 class="entry-title" style='font-size: 1.3em; margin-bottom: 20px;'>{{post.subtitle}}</h1>
    {% else %}
      <h1 class="entry-title" style='border-bottom: 1px solid darkgray; margin-bottom: 2px; color: #0088cc;'>{% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %}</h1>
      <h1 class="entry-title" style='font-size: 1.6em; margin-bottom: 20px;'>{{page.subtitle}}</h1>
    {% endif %}
  </header>
{% endunless %}

{% if index %}
  <div class="entry-content">
    {% if post.img %}
      {% if post.imgStyleIndex %}
        <img src="{{post.img}}" style='{{post.imgStyleIndex}}'/>
      {% else %}
        <img src="{{post.img}}" style='width: 50%; float: right; margin-left: 28px;'/>
      {% endif %}
    {% endif %}
    {{ content | excerpt }}
  </div>


  {% capture excerpted %}{{ content | has_excerpt }}{% endcapture %}
  <div style=''>
    {{ post.authors }}
    <br/>
    <span style='font-weight: bold;'>{{ post.venue }}</span> {{ post.stats }}
  </div>
  {% if excerpted == 'true' %}
    <footer>
      <a rel="full-article" href="{{ root_url }}{{ post.url }}">{{ site.excerpt_link }}</a>
    </footer>
  {% endif %}
{% else %}
  <div style='margin-bottom: 18px; margin-top: -18px; color: gray;'>
    {{ page.authors }}
    <span style='font-weight: bold;'>{{ page.venue }}</span> {{ page.stats }}
  </div>
  <div class="entry-content">
    {% if page.img %}
      {% if page.imgStylePost %}
        <img src="{{page.img}}" style='{{page.imgStylePost}}'/>
      {% else %}
        <img src="{{page.img}}" style='width: 100%;'/>
      {% endif %}

    {% endif %}
    {{ content }}
  </div>
{% endif %}
<br/>


{% if index %}
  {% unless page.meta == false %}
    <p class="meta" style='margin-bottom: 0px;'>
      {% include post/date.html %}{% if updated %}{{ updated }}{% else %}{{ time }}{% endif %} - 
      {% include post/categories.html %}
      {% if site.disqus_short_name and page.comments != false and post.comments != false and site.disqus_show_comment_count == true %}
       | <a href="{% if index %}{{ root_url }}{{ post.url }}{% endif %}#disqus_thread">Comments</a>
      {% endif %}
    </p>
  {% endunless %}
{% endif %}

{% unless index %}
  <footer>
    <p class="meta" style='margin-bottom: 0px;'>
      {% include post/date.html %}{% if updated %}{{ updated }}{% else %}{{ time }}{% endif %} - 
      {% include post/categories.html %}
    </p>
  </footer>
{% endunless %}
</div>
