@import url(http://fonts.googleapis.com/css?family=Fredericka+the+Great|Unica+One|Droid+Sans);

.portfolio {
    color: white;
    background-color:#043c78;
    padding: 14px;

    h1 {
        font-family: 'Fredericka the Great', cursive;
        font-size: 4em;
        font-weight: normal !important;
        text-transform: capitalize !important;
  }

  h2 {
      font-family: 'Unica One', cursive;
      font-size: 2em;
      text-transform: capitalize !important;
      margin-bottom: 14px;
      margin-top: 28px;
  }

  @include background-image(
      linear-gradient(rgba(255,255,255,.4) 2px, transparent 2px),
      linear-gradient(0deg, rgba(255,255,255,.4) 2px, transparent 2px),
      linear-gradient(rgba(255,255,255,.2) 1px, transparent 1px),
      linear-gradient(0deg, rgba(255,255,255,.2) 1px, transparent 1px)
  );
  background-size:95px 95px, 95px 95px, 19px 19px, 19px 19px;
  background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px;
  @include clearfix;
}

.project {
    max-height: 154px;
    overflow: hidden;

    color: white;
    background-color: darken(#043c78, 1);

    border-style: solid;
    border-color: rgba(255,255,255,.6);
    border-width: 2px;

    margin-left: 16px;
    margin-right: 16px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 0px;

    .img_container {
        float: left;
        overflow: hidden;

        width: 210px;
        height: 140px;
        img { 
            width: 210px;
            top: -14px;
        }

        margin: 6px;

        border-style: solid;
        border-color: white;
        border-width: 2px;
    }

  .content {
      padding: 10px;
  }

  .description {
      font-family: 'Droid Sans', sans-serif;
      font-weight: normal !important;
  }

  .title {
      font-size: 2em;
      font-family: 'Unica One', cursive;
  }

  .tech {
      float: right;
      font-size: 1em;
      color: rgba(255,255,255,0.6);
  }
}


